In this notebook I will wrangle the data for the flop songs (non-hits). I will do this using a random name generator that I will feed to a search function. I will order the results by album release date and then pick a song whose URI is NOT in the billboard dataset.

There are two conditions:
1. The song cannot be part of the billboard hit data
2. The song needs to have been released in the same time period (2001-2020)

Let's get started.

I have downloaded a a list of random english words from MIT that is stored in a csv called Random_Words.csv. 

I will randomly pick words from this list that will be the basis for the tracknames of the flop songs

In [9]:
import pandas as pd
import random

In [11]:
random_words = pd.read_csv('Random_Words.csv')

In [12]:
random_words

       words
0          a
1         aa
2        aaa
3      aaron
4         ab
...      ...
9995    zope
9996  zshops
9997      zu
9998     zum
9999     zus

[10000 rows x 1 columns]

In [ ]:
# get api key from your .env file

import os

from dotenv import load_dotenv

from pathlib import Path

 

dotenv_path = Path('./SpotifyAPIKey.env')

load_dotenv(dotenv_path=dotenv_path)

 

#load_dotenv()

API_CLIENT_ID = os.getenv('SPOTIFY_CLIENT_ID')
API_CLIENT_SECRET = os.getenv('SPOTIFY_CLIENT_SECRET')
 
print(API_CLIENT_ID)
print(API_CLIENT_SECRET)