In this Notebook I will add the Spotify track URIs to the billboards data set. 

I will use the spotipy package because the querys are less sensitive and easier to create than connecting directly to the Spotify API.

Methodology: 
1. Import packages & .env to store API keys
Easily done thanks to the lessons learnt from the API mini project. DONE
2. Authenticate myself via the client credentials through the spotipy package
After reading through the documentation this methd of connecting to the API seems easier and fewere errors with the query portion of the GET request. 
3. Create a funtion to get URIs for songs from the JSON output of the API
This is proving to be very dificult. There are many songs that are not 
4. Apply the funtion to the Billboards dataset
5. Check for missing values, duplicates, etc. and make changes to the function as required

In [644]:
# get api key from your .env file

import os

from dotenv import load_dotenv

from pathlib import Path

 

dotenv_path = Path('./SpotifyAPIKey.env')

load_dotenv(dotenv_path=dotenv_path)

 

#load_dotenv()

API_CLIENT_ID = os.getenv('SPOTIFY_CLIENT_ID')
API_CLIENT_SECRET = os.getenv('SPOTIFY_CLIENT_SECRET')
 
print(API_CLIENT_ID)
print(API_CLIENT_SECRET)

3f7295d24d8041688f494196baeb607f
42896ec37b22446680c5a485858a4843

In [645]:
import pandas as pd
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

#https://spotipy.readthedocs.io/en/2.19.0/

In [728]:
client_credentials_manager = SpotifyClientCredentials(client_id=API_CLIENT_ID,client_secret=API_CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

def URI(titleName, artistName):
    track = sp.search(q="artist:" + f"{artistName}"+" track:"+f"{titleName}",type='track',limit=50)
    result = track['tracks']['items']
    result = sorted(result, key = lambda i: i['popularity'], reverse = True)
    
    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() == artistName.lower():
                uri = items['id']
                return(uri)
            elif artist['name'].lower() in artistName.lower():
                uri = items['id']
                return uri
            
    track = sp.search(titleName,type='track',limit=50)
    result = track['tracks']['items']
    result = sorted(result, key = lambda i: i['popularity'], reverse = True)
    
    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() == artistName.lower():
                uri = items['id']
                return uri

    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() in artistName.lower():
                uri = items['id']
                return uri
#print(URI('independent women', "destiny's child"))

In [677]:
for i in result:
    for n in i['artists']:
        print(n['name'])

Rodney Atkins
Rodney Atkins

In [678]:
#Make a funtion to get the URIs from the Search function in Spotify API

client_credentials_manager = SpotifyClientCredentials(client_id=API_CLIENT_ID,client_secret=API_CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

def GetSongURI(titleName, artistName):
    track = sp.search(q='artist:' + artistName+' track:'+titleName,type='track',limit=50)

    result = track['tracks']['items']

    
    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() == artistName.lower():
                uri = items['id']
                return uri


    track = sp.search(titleName,type='track',limit=50)

    result = track['tracks']['items']

    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() == artistName.lower():
                uri = items['id']
                return uri

    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() in artistName.lower():
                uri = items['id']
                return uri

In [679]:
client_credentials_manager = SpotifyClientCredentials(client_id=API_CLIENT_ID,client_secret=API_CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

def anotherURI(titleName, artistName):
    track = sp.search(q='artist:' + artistName+' track:'+titleName,type='track',limit=50)
    result = track['tracks']['items']
    
    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() == artistName.lower():
                uri = items['id']
                return uri
            elif artist['name'].lower() in artistName.lower():
                uri = items['id']
                return uri
            elif artistName.lower() == artist['name'].lower():
                uri = items['id']
                return uri
            elif artistName.lower() in artist['name'].lower():
                uri = items['id']
                return uri

    track = sp.search(titleName,type='track',limit=50)
    result = track['tracks']['items']

    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() == artistName.lower():
                uri = items['id']
                return uri
            elif artist['name'].lower() in artistName.lower():
                uri = items['id']
                return uri
            elif artistName.lower() == artist['name'].lower():
                uri = items['id']
                return uri
            elif artistName.lower() in artist['name'].lower():
                uri = items['id']
                return uri

    track = sp.search(artistName,type ='track',limit=50)
    result = track['tracks']['items']
    
    for items in result:
        if items['name'].lower() == titleName.lower():
            uri = items['id']
            return uri
        elif items['name'].lower() in titleName.lower():
            uri = items['id']
            return uri
        elif titleName.lower() ==items['name'].lower():
            uri = items['id']
            return uri
        elif titleName.lower() in items['name'].lower():
            uri = items['id']
            return uri

In [680]:
client_credentials_manager = SpotifyClientCredentials(client_id=API_CLIENT_ID,client_secret=API_CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

def SongURI(titleName, artistName):
    track = sp.search(q='artist:' + artistName+' track:'+titleName,type='track',limit=50)

    result = track['tracks']['items']

    
    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() == artistName.lower():
                uri = items['id']
                return uri  


    track = sp.search(titleName,type='track',limit=50)

    result = track['tracks']['items']

    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() == artistName.lower():
                uri = items['id']
                return uri

    for items in result:
        for artist in items['artists']:
            if artist['name'].lower() in artistName.lower():
                uri = items['id']
                return uri
    
    track = sp.search(titleName,type='track',limit=50)

    result = track['tracks']['items']
    
    for items in result:
        if titleName.lower() == items['name'].lower():
            uri = items['id']
            return uri
    for items in result:
        if titleName.lower() in items['name'].lower():
            uri = items['id']
            return uri

In [729]:
print(SongURI("again", "lenny kravitz"))

5c1QJAiC3773EwiZLwHf5x

In [730]:
print(anotherURI("again", "lenny kravitz"))

5c1QJAiC3773EwiZLwHf5x

In [731]:
print(GetSongURI("again", "lenny kravitz"))

5c1QJAiC3773EwiZLwHf5x

In [739]:
print(URI('again', 'lenny kravitz'))

5c1QJAiC3773EwiZLwHf5x

In [707]:
df = pd.read_csv('BillboardFullDataset.csv', index_col = 0)

In [708]:
df.describe()

         Artist      Title
count      1875       1875
unique     1214       1766
top     Rihanna  Beautiful
freq         17          4

In [709]:
df = df[['Title','Artist']]

df['Title'] = df['Title'].str.lower()
df['Artist'] = df['Artist'].str.lower()

In [710]:
df.head()

                        Title                        Artist
0         hanging by a moment                     lifehouse
1                     fallin’                   alicia keys
2                 all for you                 janet jackson
3  drops of jupiter (tell me)                         train
4                    i’m real  jennifer lopez feat. ja rule

df_4['URI'] = df_4.apply(lambda row : Song_URI(row['Title'], row['Artist']), axis = 1)

#testing

df_4.head(50)

#testing

missing = df_4.loc[df['URI'].isna()]

In [733]:
def append_URIs(dataframe):
    for lab, row in dataframe.iterrows():
        dataframe.loc[lab, 'URI'] = URI(row['Title'],row['Artist'])

df['URI'] = df.apply(lambda row : Song_URI(row['Title'], row['Artist']), axis = 1)

df.head(10)

In [734]:
append_URIs(df)

In [735]:
df.describe()

            Title   Artist                     URI
count        1875     1875                    1751
unique       1748     1206                    1688
top     beautiful  rihanna  0l3GEbH3CviUytD6iX4wzg
freq            4       17                       3

There are issues here. There are missing URIs and duplicate URIs. 

I'll first attack the missing URIs - I think these can be solved by changing the functions slightly to make sure there are no name issues e.g. sounfs featuring multiple artist on billboard but only showing the main artist on spotify

Round 1: Stared with 151 missing URIs. 

Round 2: After fixing 1 Artist name I am down to 150 missing URIs. 

Round 3: I changed my append_URIs function to take in all lowercase values for artist. I am now down to missing 138 URIs

Round 4: I added some conditions to my function to also look through track names and match the artist and from there. I also added a condition to look at lowercase songs. I am down to 14 missing URIs. 

Note: this is weird.. function to get the uri works on some of these missing values so there must be an issue with the append uri's function.

In [736]:
missing = df.loc[df['URI'].isna()]

In [737]:
missing

                           Title           Artist   URI
8                          again    lenny kravitz  None
9              independent women  destiny’s child  None
22                      survivor  destiny’s child  None
26           the way you love me       faith hill  None
35                         crazy    k-ci and jojo  None
...                          ...              ...   ...
1622  bodak yellow (money moves)          cardi b  None
1658                    caroline            amine  None
1688                        down      marian hill  None
1854                  the git up     blanco brown  None
1992           p*$$y fairy (otw)       jhene aiko  None

[124 rows x 3 columns]

In [718]:
missing.to_csv('missing.csv')

In [719]:
append_URIs(missing)

C:\Users\ziggy\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\ziggy\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [720]:
missing.describe()

       Title   Artist  URI
count    123      123    0
unique   121       77    0
top      bad  beyonce  NaN
freq       2       12  NaN

In [721]:
uri('bad', 'beyonce')

TypeError: 'str' object is not callable