In this notebook I will wrangle the data for the flop songs (non-hits). I will do this using a random name generator that I will feed to a search function. I will order the results by album release date and then pick a song whose URI is NOT in the billboard dataset.

There are two conditions:
1. The song cannot be part of the billboard hit data
2. The song needs to have been released in the same time period (2001-2020)

Let's get started.

I have downloaded a a list of random english words from MIT that is stored in a csv called Random_Words.csv. 

I will randomly pick words from this list that will be the basis for the tracknames of the flop songs

In [214]:
import pandas as pd
import random
import datetime
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

In [215]:
random_words = pd.read_csv('Random_Words.csv')
billboard = pd.read_csv('BillboardWithURI.csv')

In [216]:
random_words

       words
0          a
1         aa
2        aaa
3      aaron
4         ab
...      ...
9995    zope
9996  zshops
9997      zu
9998     zum
9999     zus

[10000 rows x 1 columns]

In [235]:
# get api key from your .env file

import os

from dotenv import load_dotenv

from pathlib import Path

 

dotenv_path = Path('./SpotifyAPIKey.env')

load_dotenv(dotenv_path=dotenv_path)

 

#load_dotenv()

API_CLIENT_ID = os.getenv('SPOTIFY_CLIENT_ID')
API_CLIENT_SECRET = os.getenv('SPOTIFY_CLIENT_SECRET')
 
print(API_CLIENT_ID)
print(API_CLIENT_SECRET)

3f7295d24d8041688f494196baeb607f
42896ec37b22446680c5a485858a4843

artist_list = []
track_list = []
uri_list = []

def get track, artist, uri: 

track = sp.search(q=track:"+f"{word}",type='track',limit=50)
result = track['tracks']['items']

for items in result:
    if uri not in billboard['URI']
        artist = items['artist']['name']
        track = items['name']
        uri = items['id']
        artisartist_list.append(artist)
        track_list.append(track)
        uri_list.append(uri)

In [236]:
client_credentials_manager = SpotifyClientCredentials(client_id=API_CLIENT_ID,client_secret=API_CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

In [237]:
import dateutil.parser as parser

In [ ]:
l_artist = []

In [238]:
def get_artist(rand_word): 

    track = sp.search(q="track:" +f"{rand_word}",type='track',limit=50)
    result = track['tracks']['items']
    
    for items in result:
        uri = items['id']
        dict1 = items['album']
        year = parser.parse(dict1['release_date']).year 
        if uri not in billboard['URI'] and year in range(2001,2021):
            for artist in items['artists']:
                artist_name = artist['name']
                l_artist.append(artist_name)
                
def get_track(rand_word):
    track = sp.search(q="track:" +f"{rand_word}",type='track',limit=50)
    result = track['tracks']['items']
    
    for items in result:
        uri = items['id']
        track_name = items['name']
        dict1 = items['album']
        year = parser.parse(dict1['release_date']).year 
        if uri not in billboard['URI'] and year in range(2001,2021):
            return track_name

def get_uri(rand_word):
    track = sp.search(q="track:" +f"{rand_word}",type='track',limit=50)
    result = track['tracks']['items']
    
    for items in result:
        uri = items['id']
        dict1 = items['album']
        year = parser.parse(dict1['release_date']).year 
        if uri not in billboard['URI'] and year in range(2001,2021):
            return uri

In [239]:
print(get_artist('amanda'))
print(get_track('amanda'))
print(get_uri('amanda'))

Chris Stapleton
Amanda (feat. Morgane Stapleton)
31N3agcx1BKlLkYBXAx1Ax

In [240]:
df = pd.DataFrame()

In [241]:
for i in range(10001):
    word = random_words.sample(i, replace= True)

type(word)

pandas.core.frame.DataFrame

In [242]:
word.head()

          words
2260         cv
6940    printer
2106  corrected
3886       good
8759   syndrome

In [245]:
def create_flops(dataframe):
    for lab,row in dataframe.iterrows():
        dataframe.loc[lab, 'Title'] = get_track(row['words'])

In [246]:
create_flops(word)

In [247]:
word.head()

          words                     Title
2260         cv               Pretty Cvnt
6940    printer  Fixing an Office Printer
2106  corrected         I Stand Corrected
3886       good                 Good Days
8759   syndrome        Stockholm Syndrome

In [248]:
word.describe()

            words                                 Title
count       10000                                  9915
unique       6343                                  5545
top     southwest  Laugh Now Cry Later (feat. Lil Durk)
freq            6                                    14

In [ ]:
def create_flops2(dataframe):
    for lab, row in dataframe.iterrows():
        dataframe.loc[lab, 'Artist'] = get_artist(row['words'])

In [ ]:
def create_flops3(dataframe):
    for lab, row in dataframe.iterrows():
        dataframe.loc[lab, 'URI'] = get_artist(row['words'])